<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/script.js" defer></script>

</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                 <a2 class="navbar-brand" href="/">Data Science Salary Predictor Covid-19</a2>
                 
        <br>
            </div>
        </div>
    </nav>

    <br>


    <div class="container">
<a2>Please fill the parameters below and click on Selling Price button to check car price</a2>


        <form id="form-el">
       
           <!-- <h3>Car Brand</h3><input id="first" value="Honda" name="Company" placeholder="eg. like the year 'Maruti' "type="number " >-->
            <h3>Rating</h3><select name="Company" id="first" required="required">
            <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
                
            </select>
        <br>
        <br>
            <h3>Size</h3>
            <select name="carName" id="second" required="required" >
                
            </select>
            <!-- <input 
            id="second" name="carName" value="Civic" placeholder="eg. 'Civic"required="required"> -->
        <br>  
        <br>  
            <h3>Kilometers Driven</h3><input id="third" name="km" value="66867" placeholder="eg. 10000 Km driven before"required="required" >
        <br>
        <br>
            <h3>Previous Owners</h3><input id="fourth" value="1" name="Owner" placeholder="0 or 1 or 2 Previous Owners" required="required">
        <br>
        <br>
            <h3>Age</h3><input id="fifth" value="14" name="Age" placeholder=":)" required="required">
        <br>   
            
            <h3>Fuel Type</h3><select name="Fuel_Type_Petrol" id="fuel" required="required">
                <option value="1">Petrol</option>
                <option value="0">Diesel</option>
                <option value="2">LPG</option>
                <option value="CNG">CNG</option>
                <option value="Electric">Electric</option>
            </select>
        <br>            
            <br><br><button id="sub" onclick="predict()" type="button" >Selling Price</button>
        </form>
        <h3 id="output-message"><h3>
        <br>
    </div>
        



    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
           <p class='footer-description'>© Machine Leaning App</p>
       </div>

    
</body>

</html>